PORT=5007
NODE_ENV=development

# Twilio SMS Credentials
TWILIO_ACCOUNT_SID=
TWILIO_AUTH_TOKEN=
TWILIO_PHONE_NUMBER=

# Gmail SMTP Credentials
EMAIL_USER=webstorebs@gmail.com
EMAIL_APP_PASSWORD=xoyx xfiu xetd ofzs
