PORT=5007
NODE_ENV=development

# Twilio SMS Credentials
TWILIO_ACCOUNT_SID=
TWILIO_AUTH_TOKEN=
TWILIO_PHONE_NUMBER=

# Gmail SMTP Credentials
EMAIL_USER=replace-with-sender-email
EMAIL_APP_PASSWORD=replace-with-email-app-password
